*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.gitattributes
.vs/CrossSolar/v15/.suo
0001-Original-Package.patch
0002-Partial-Tests-and-bug-fix.patch
0003-Others-Test.patch
0004-Partial-Soluction.patch
0005-Project-Finished.patch
CrossSolar.sln
CrossSolar.Tests/Controller/AnalyticsControllerTests.cs
.vs/CrossSolar/v15/Server/sqlite3/storage.ide
.vs/CrossSolar/v15/Server/sqlite3/db.lock
CrossSolar.Tests/Controller/PanelControllerTests.cs
CrossSolar.Tests/coverage.bat
CrossSolar.Tests/CrossSolar.Tests.csproj
CrossSolar.Tests/Models/PanelModelTest.cs
CrossSolar.Tests/obj/CrossSolar.Tests.csproj.nuget.cache
CrossSolar.Tests/obj/Debug/netcoreapp2.0/CrossSolar.Tests.AssemblyInfoInputs.cache
CrossSolar.Tests/obj/Debug/netcoreapp2.0/CrossSolar.Tests.AssemblyInfo.cs
CrossSolar.Tests/obj/CrossSolar.Tests.csproj.nuget.g.targets
CrossSolar.Tests/obj/CrossSolar.Tests.csproj.nuget.g.props
CrossSolar.Tests/obj/Debug/netcoreapp2.0/CrossSolar.Tests.csproj.CoreCompileInputs.cache
CrossSolar.Tests/obj/Debug/netcoreapp2.0/CrossSolar.Tests.Program.cs
CrossSolar.Tests/obj/project.assets.json
CrossSolar/appsettings.Development.json
CrossSolar/appsettings.json
CrossSolar/bin/Debug/netcoreapp2.0/CrossSolar.deps.json
CrossSolar/bin/Debug/netcoreapp2.0/CrossSolar.dll
CrossSolar/bin/Debug/netcoreapp2.0/CrossSolar.pdb
CrossSolar/bin/Debug/netcoreapp2.0/CrossSolar.runtimeconfig.dev.json
CrossSolar/bin/Debug/netcoreapp2.0/CrossSolar.runtimeconfig.json
CrossSolar/Controllers/AnalyticsController.cs
CrossSolar/Startup.cs
CrossSolar/Repository/PanelRepository.cs
CrossSolar/Repository/IPanelRepository.cs
CrossSolar/Repository/IGenericRepository.cs
CrossSolar/Repository/IDayAnalyticsRepository.cs
CrossSolar/Repository/IAnalyticsRepository.cs
CrossSolar/Repository/DayAnalyticsRepository.cs
CrossSolar/Repository/AnalyticsRepository.cs
CrossSolar/Repository/GenericRepository.cs
CrossSolar/Properties/launchSettings.json
CrossSolar/Program.cs
CrossSolar/obj/project.assets.json
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.pdb
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.dll
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.csprojResolveAssemblyReference.cache
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.csproj.FileListAbsolute.txt
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.csproj.CoreCompileInputs.cache
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.AssemblyInfoInputs.cache
CrossSolar/obj/CrossSolar.csproj.nuget.g.props
CrossSolar/obj/Debug/netcoreapp2.0/CrossSolar.AssemblyInfo.cs
CrossSolar/obj/CrossSolar.csproj.nuget.g.targets
CrossSolar/obj/CrossSolar.csproj.nuget.cache
CrossSolar/Models/UnitTypeWatt.cs
CrossSolar/Models/OneHourElectricityModel.cs
CrossSolar/Models/OneHourElectricityListModel.cs
CrossSolar/Models/OneHourElectricityAmountModel.cs
CrossSolar/Models/PanelModel.cs
CrossSolar/Models/OneDayElectricityModel.cs
CrossSolar/Migrations/CrossSolarDbContextModelSnapshot.cs
CrossSolar/Migrations/20180711174825_ChangeDataTypeKiloWatt_OneHourElectricitys.Designer.cs
CrossSolar/Migrations/20180711174825_ChangeDataTypeKiloWatt_OneHourElectricitys.cs
CrossSolar/Migrations/20180517003158_CreateCrossSolarDb.Designer.cs
CrossSolar/Exceptions/HttpStatusCodeExceptionMiddlewareExtensions.cs
CrossSolar/Migrations/20180517003158_CreateCrossSolarDb.cs
CrossSolar/Exceptions/HttpStatusCodeExceptionMiddleware.cs
CrossSolar/Exceptions/HttpStatusCodeException.cs
CrossSolar/Domain/Panel.cs
CrossSolar/Domain/OneHourElectricity.cs
CrossSolar/Domain/CrossSolarDbContext.cs
CrossSolar/CrossSolar.csproj.user
CrossSolar/CrossSolar.csproj
CrossSolar/Controllers/PanelController.cs
